.modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    z-index: 10;
}

.modal-content {
    display: flex;
    margin: 48px;
    width: 80%;
    background-color: white;
    z-index: 20;
}