.modal-wrapper {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    z-index: 10;
}

.modal-content {
    display: flex;
    flex-direction: column;
    margin: 10% auto;
    width: 80%;
    background-color: white;
    z-index: 20;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  9px 9px 4px 0px #76717182;
    padding: 10px;
}

#button-pause{
    padding: 16px;
    background-color: aquamarine;
    text-transform: uppercase;
}