#board {
  display: grid;
  width: 128px;
  grid-template-columns: repeat(2, 1fr);
  border: 8px solid blue;
  /* gap: 10px; */
  /* grid-auto-rows: minmax(100px, auto); */
}

.square {
  width: 22px;
  height: 22px;
  border: 1px solid lightgray;
  font-size: 8px;
}

.snake-part {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border: 1px solid black;
  font-size: 8px;
  color: white;
  background-color: black;
  font-weight: bold;
}

#game {
  padding: 4px;
  display: flex;
  flex-direction: row;
}

#painel {
  padding: 4px;
}