@import './gamewindows.css';
@import './elements.css';
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

@font-face {
  font-family: Arcade;
  src: url('../assets/fonts/ARCADE.TTF');
}

/*reset do CSS */
* {
  margin: 0;
  padding: 0;
}

#board {
  display: grid;
  /* width: 150px; */
  grid-template-columns: repeat(2, 1fr);
  border: 8px solid blue;
  /* gap: 10px; */
  /* grid-auto-rows: minmax(100px, auto); */
}

.square {
  /* width: 28px;
  height: 28px; */
  /* border: 0px solid lightgray; */
  /* padding: 1px; */
  font-size: 8px;
  background: url("../assets/img/soil.png");
  background-repeat: no-repeat;
  background-size: auto;
  /* filter: opacity(25%); */
}

#game {
  padding: 4px;
  display: flex;
  flex-direction: row;
}

#painel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  padding: 4px;
}

#bot-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#botoes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 128px;
  /* border: 8px solid blue; */
  /* gap: 10px; */
  /* grid-auto-rows: minmax(100px, auto); */
}

#botoes div:nth-child(even) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1px solid rgba(0,0,0,.2);
}

#botoes div:nth-child(2) svg{
  width: 100%;
  padding: 0;
  transform: rotate(-90deg);
}

#botoes div:nth-child(4) svg{
  width: 100%;
  padding: 0;
  transform: rotate(180deg);
}

#botoes div:nth-child(8) svg{
  width: 100%;
  padding: 0;
  transform: rotate(90deg);
}

#button-pause{
  display: flex;
  padding: 16px;
  margin-left: 16px;
  color: #F1EFDC;
  background-color: #D36B00;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
}
#button-pause svg{
  width: 32px;
}

#score {
  display: flex;
  justify-content: center;
  padding: 2px;
  border: 2px solid #42032C;
  border-radius: 4px;
  font-family: Arcade;
  font-size: 3rem;
}

#level {
  display: flex;
  flex-direction: row;
  font-family: 'Rye', cursive;
  justify-content: space-between;
}

#game-msg{
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 25%;
  font-family: 'Rye', cursive;
  font-size: 1.2rem;
  color: #42032C;
  background-color: #F1EFDC;
  border: 1px solid #E6D2AA;
  border-radius: 4px;
  padding: 16px;
}

#game-container {
  position: relative;
}